@using Helper
@{
    ViewBag.Title = "SubmittedEOSRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2><th>@Resources.getDescriptionBykey("EOS Requests")</th></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>


            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
           
            <div class="clearfix"></div>
            <table id="datatable-buttons" class="table table-striped table-bordered bulk_action">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="check-all" class="flat"></th>
                        <th> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></th>
                        <th>@Resources.getDescriptionBykey("EOS ID") </th>
                        <th>@Resources.getDescriptionBykey("Date")</th>
                        <th>@Resources.getDescriptionBykey("EOS Type")</th>
                        <th>@Resources.getDescriptionBykey("Personal Number")</th>
                        <th>@Resources.getDescriptionBykey("Name")</th>
                        <th>@Resources.getDescriptionBykey("Reason Code")</th>
                        <th>@Resources.getDescriptionBykey("State")</th>
                        <th> @Resources.getDescriptionBykey("Action") </th>

                    </tr>
                </thead>


                <tbody>
                    @foreach (var @item in Model)
                    {
                        <tr>
                            <td><input type="checkbox" class="flat" name="table_records"></td>
                            @*<td>1</td>*@
                            <td><a href="@item.URL"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
                            <td>@item.EOSID</td>
                            <td>@item.Date</td>

                            <td>@item.EOSType</td>
                            <td>@item.PersonalNumber</td>
                            <td>@item.Worker</td>
                            <td>@item.Reason </td>
                            <td>@item.Status </td>
                            <td>
                                <div class="btn-group" style="width:100%">
                                    <button type="button" class="btn btn-default col-md-8">@Resources.getDescriptionBykey("Action")</button>
                                    <button type="button" class="btn btn-default dropdown-toggle col-md-4" data-toggle="dropdown" aria-expanded="false">
                                        <span class="caret"></span>
                                        <span class="sr-only">@Resources.getDescriptionBykey("Toggle Dropdown")</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" style="background: #FFFFFF">
                                        <li>
                                            <a   data-popup-open="popup-1" href="@item.EOSID" class="accept_leave" style="">@Resources.getDescriptionBykey("Accept")</a>
                                        </li>

                                        <li>
                                            <a   data-popup-open="popup-2" href="@item.EOSID" class="reject_leave">@Resources.getDescriptionBykey("Reject")</a>
                                        </li>

                                        <li>
                                            <a href="@item.URL" class="history_leave">@Resources.getDescriptionBykey("View History")</a>
                                        </li>

                                    </ul>
                                </div>
                            </td>

                        </tr>
                    }




                </tbody>
            </table>


            <div class="popup" data-popup="popup-1">
                <div class="popup-inner">
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">
                           @Resources.getDescriptionBykey("Comment")  <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea id="comment" required="required" name="comment" class="form-control col-md-7 col-xs-12"></textarea>
                        </div>
                        <input type="hidden" id="requestid" name="name" value="" />

                    </div>
                    <br />
                    <p><a id="btnapprove" data-popup-close="popup-1" href="#">@Resources.getDescriptionBykey("Approve")</a></p>
                    <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
                </div>
            </div>
            <div class="popup" data-popup="popup-2">
                <div class="popup-inner">
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">
                            @Resources.getDescriptionBykey("Comment") <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea id="rejcomment" required="required" name="comment" class="form-control col-md-7 col-xs-12"></textarea>
                        </div>
                        <input type="hidden" id="rejrequestid" name="name" value="" />

                    </div>
                    <br />
                    <p><a id="btnreject" data-popup-close="popup-2" href="#">@Resources.getDescriptionBykey("Reject")</a></p>
                    <a class="popup-close" data-popup-close="popup-2" href="#">x</a>
                </div>
            </div>

            @*<div id="jsGrid2"></div>
                <script>
                $(function () {

                    $("#jsGrid2").jsGrid({
                        height: "90%",
                        width: "100%",
                        filtering: true,
                        editing: true,
                        sorting: true,
                        paging: true,
                        autoload: true,
                        pageSize: 15,
                        pageButtonCount: 5,
                        deleteConfirm: "Do you really want to delete the client?",
                        controller: db,
                        fields: [
                            {
                                headerTemplate: function () {
                                    return $("<H4>").attr("type", "TEXT").text("Action")

                                },
                                itemTemplate: function (_, item) {
                                    return $("<input>").attr("type", "checkbox")
                                            .prop("checked", $.inArray(item, selectedItems) > -1)
                                            .on("change", function () {
                                                $(this).is(":checked") ? selectItem(item) : unselectItem(item);
                                            });
                                },
                                align: "center",
                                width: 50
                            },
                            { name: "LeaveRequest", type: "text", width: 70 },
                            { name: "LeaveType", type: "text", width: 70 },
                            { name: "RequestDate", type: "text", width: 70 },
                            { name: "PersonalNumber", type: "text", width: 70 },
                            { name: "Worker", type: "text", width: 70 },
                            { name: "FromDate", type: "text", width: 70 },
                            { name: "ToDate", type: "text", width: 70 },
                            { name: "State", type: "text", width: 70 },

                            {type:'control'}
                        ],
                        data: [
                            '', '', '',
                        ],


                    });
                });

                var selectedItems = [];

                var selectItem = function (item) {
                    selectedItems.push(item);
                };

                var unselectItem = function (item) {
                    selectedItems = $.grep(selectedItems, function (i) {
                        return i !== item;
                    });
                };
                </script>*@
            <script>
                $(document).ready(function () {



                    const fillRange = (start, end) => {
                        return Array(end - start + 1).fill().map((item, index) => start + index);
                    };

                    var handleDataTableButtons = function () {
                        table_length = $('#datatable-buttons').find('tr')[0].cells.length;
                        const exported_coulmns = fillRange(2, table_length - 2);
                        var direction = '@Resources.getDirectionByLanguageId()';
                        var languageUrl = "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/English.json";
                        if (direction == 'RTL') {
                            languageUrl = "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Arabic.json";
                        }

                        if ($("#datatable-buttons").length) {
                            $("#datatable-buttons").DataTable({
                                "pagingType": "full_numbers",

                                dom: "Bfrtip",
                                "language": {
                                    "url": languageUrl
                                },
                                buttons: [
                                    {
                                        extend: "copy",
                                        className: "btn-sm",
                                        title: 'EOS Requests',
                                        text: "Copy"
                                        , exportOptions: {
                                            columns: exported_coulmns
                                        }
                                    },
                                    {
                                        extend: "csv",
                                        className: "btn-sm",
                                        title: 'EOS Requests',
                                        text: "Excel"
                                        , exportOptions: {
                                            columns: exported_coulmns
                                        }
                                    },
                                    
                                    {
                                        extend: "pdfHtml5",
                                        title: 'EOS Requests',
                                        className: "btn-sm",
                                        text: "Print"
                                        , exportOptions: {
                                            columns: exported_coulmns
                                        }

                                    },
                                ]
                                 ,

                                initComplete: function () {
                                    copy_btn = $("#datatable-buttons_wrapper > div.dt-buttons.btn-group > a.btn.btn-default.buttons-copy.buttons-html5.btn-sm");
                                    excel_btn = $("#datatable-buttons_wrapper > div.dt-buttons.btn-group > a.btn.btn-default.buttons-csv.buttons-html5.btn-sm");
                                    print_btn = $("#datatable-buttons_wrapper > div.dt-buttons.btn-group > a.btn.btn-default.buttons-pdf.btn-sm");
                                    if (copy_btn.length > 0) {

                                        copy_btn.addClass("btn-app");
                                        copy_btn.empty();
                                        copy_btn.append("<i class='fa fa-copy'></i><span>Copy</span>");
                                    }
                                    if (excel_btn.length > 0) {
                                        excel_btn.addClass("btn-app");
                                        excel_btn.empty();
                                        excel_btn.append("<i class='fa fa-file-excel-o'></i><span>Excel</span>");
                                    }
                                    if (print_btn.length > 0) {
                                        print_btn.addClass("btn-app");
                                        print_btn.empty();
                                        print_btn.append("<i class='fa fa-print'></i><span>Print</span>");
                                    }

                                }
                            });
                        }
                    };
                    TableManageButtons = function () {
                        "use strict";
                        return {
                            init: function () {
                                handleDataTableButtons();
                            }
                        };
                    }();



                    $('#datatable-keytable').DataTable({
                        keys: true
                    });

                    $('#datatable-responsive').DataTable();

                    $('#datatable-scroller').DataTable({
                        ajax: "js/datatables/json/scroller-demo.json",
                        deferRender: true,
                        scrollY: 380,
                        scrollCollapse: true,
                        scroller: true
                    });

                    $('#datatable-fixed-header').DataTable({
                        fixedHeader: true
                    });

                    var $datatable = $('#datatable-checkbox');

                    $datatable.dataTable({
                        'order': [[2, 'asc']],
                        'columnDefs': [
                            { orderable: false, targets: [0] }
                        ]
                    });
                    $datatable.on('draw.dt', function () {
                        $('input').iCheck({
                            checkboxClass: 'icheckbox_flat-green'
                        });
                    });

                    TableManageButtons.init();
                  



                    function getUrlVars() {
                        var vars = [], hash;
                        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                        for (var i = 0; i < hashes.length; i++) {
                            hash = hashes[i].split('=');
                            vars.push(hash[0]);
                            vars[hash[0]] = hash[1];
                        }
                        return vars;
                    }

                    var reqtype = getUrlVars()["reqnature"];
                    if (reqtype == 0)
                        $("aurl").attr("href", "/LeaveRequest/CreateLeaveRequest?reqnature=0");
                    if (reqtype == 1)
                        $("aurl").attr("href", "#");
                    if (reqtype == 2)
                        $("aurl").attr("href", "/LeaveRequest/CreateLeaveEnchasment");
                    if (reqtype == 3)
                        $("aurl").attr("href", "/LeaveRequest/CreateTicketRequest");
                    if (reqtype == 4)
                        $("aurl").attr("href", "/LeaveRequest/CreateLeaveEnchasment");
                    if (reqtype == 5)
                        $("aurl").attr("href", "/LeaveRequest/CreateLeavePlanning");
                });
                $(function () {

                    //----- OPEN
                    $(".accept_leave").on('click', function (e) {
                        debugger;
                        var targeted_popup_class = jQuery(this).attr('data-popup-open');
                        $('[data-popup="' + targeted_popup_class + '"]').fadeIn(350);
                        var addressValue = $(this).attr("href");
                        $('#requestid').val(addressValue);
                        e.preventDefault();
                    });
                    $(".reject_leave").on('click', function (e) {
                        debugger;
                        var targeted_popup_class = jQuery(this).attr('data-popup-open');
                        $('[data-popup="' + targeted_popup_class + '"]').fadeIn(350);
                        var addressValue = $(this).attr("href");
                        $('#requestid').val(addressValue);
                        e.preventDefault();
                    });

                    //----- CLOSE
                    $('[data-popup-close]').on('click', function (e) {
                        var targeted_popup_class = jQuery(this).attr('data-popup-close');
                        $('[data-popup="' + targeted_popup_class + '"]').fadeOut(350);

                        e.preventDefault();
                    });
                });

                $("#btnapprove").on('click', function (e) {
                    debugger;
                    var data = new FormData();
                    if ($('#comment').val() != "") {
                        data.append("eosid", $('#requestid').val());
                        data.append("Comment", $('#comment').val());
                        $.ajax({
                            url: "@Url.Action("ApproveEOSRequestbyRequestNumber", "EOS")",
                            type: 'GET',
                            data: { eosid: $('#requestid').val(), Comment: $('#comment').val() },
                            contentType: "application/json; charset=utf-8",


                            error: function () {
                                alert(" An error occurred.");
                            },
                            success: function (data1) {

                                alert(data1);
                                window.location.reload();
                            }

                        });
                    }
                    else
                        alert("Enter the Comments");
                });
                $("#btnreject").on('click', function (e) {
                    debugger;
                    var data = new FormData();
                    if ($('#rejcomment').val() != "") {
                        data.append("eosid", $('#requestid').val());
                        data.append("Comment", $('#comment').val());
                        $.ajax({
                            url: "@Url.Action("RejecteEOSRequestbyRequestNumber", "EOS")",
                            type: 'GET',
                            data: { eosid: $('#requestid').val(), Comment: $('#comment').val() },
                            contentType: "application/json; charset=utf-8",


                            error: function () {
                                alert(" An error occurred.");
                            },
                            success: function (data1) {

                                alert(data1);
                                window.location.reload();
                            }

                        });
                    }
                    else
                        alert("Enter the Comments");
                });
            </script>
            <style>
                /* Outer */
                .popup {
                    width: 100%;
                    height: 100%;
                    display: none;
                    position: fixed;
                    top: 0px;
                    left: 0px;
                    background: rgba(0,0,0,0.75);
                }

                /* Inner */
                .popup-inner {
                    max-width: 700px;
                    width: 90%;
                    padding: 40px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    box-shadow: 0px 2px 6px rgba(0,0,0,1);
                    border-radius: 3px;
                    background: #fff;
                }

                /* Close Button */
                .popup-close {
                    width: 30px;
                    height: 30px;
                    padding-top: 4px;
                    display: inline-block;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    transition: ease 0.25s all;
                    -webkit-transform: translate(50%, -50%);
                    transform: translate(50%, -50%);
                    border-radius: 1000px;
                    background: rgba(0,0,0,0.8);
                    font-family: Arial, Sans-Serif;
                    font-size: 20px;
                    text-align: center;
                    line-height: 100%;
                    color: #fff;
                }

                    .popup-close:hover {
                        -webkit-transform: translate(50%, -50%) rotate(180deg);
                        transform: translate(50%, -50%) rotate(180deg);
                        background: rgba(0,0,0,1);
                        text-decoration: none;
                    }
            </style>

        </div>
    </div>
</div>

