@using Helper
@{
    ViewBag.Title = "CreateTrainingRequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="x_panel">
    <div class="x_title">
        <h2>Traing Request</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <div class="btn-group" style="width:100%">
                    <button type="button" class="btn btn-default col-md-8">@Resources.getDescriptionBykey("Action")</button>
                    <button type="button" class="btn btn-default dropdown-toggle col-md-4" data-toggle="dropdown" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu" style="background: #FFFFFF">
                        <li>
                            <a id="btnsubmit" class="accept_leave" style="">@Resources.getDescriptionBykey("Submit")</a>
                        </li>

                        @*<li>
                                <a href="#" class="reject_leave">Reject</a>
                            </li>

                            <li>
                                <a href="history.html" class="history_leave">View History</a>
                            </li>*@

                    </ul>
                </div>  <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <form class="form-horizontal form-label-left">

            <div class="form-group col-md-4">
                <label class="control-label col-md-4 col-sm-4" for="start_date">
                    @Resources.getDescriptionBykey("Request ID") <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6">
                    <input type="text" id="fullname" class="form-control" readonly>

                </div>
            </div>
            <div class="form-group  col-md-4">
                <label class="control-label col-md-4 col-sm-4" for="end_date">
                    @Resources.getDescriptionBykey("Reason Code") <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6">
                    <select id="ddlreason" class="form-control"></select>
                </div>
            </div>


            <div class="form-group col-md-4">
                <label class="control-label col-md-4 col-sm-4">
                    @Resources.getDescriptionBykey("Date") <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6">
                    <input type="text" readonly id="requestdate" class="form-control">
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label col-md-4 col-sm-4">@Resources.getDescriptionBykey("Excuse Nature")</label>
                <div class="col-md-6 col-sm-6">
                    <input type="text" readonly id="reqwxnature" value="Training" class="form-control">
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label col-md-4 col-sm-4">@Resources.getDescriptionBykey("Excuse Id")</label>
                <div class="col-md-6 col-sm-6">
                    <select id="ddlexcuseid" class="form-control"></select>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="control-label col-md-4 col-sm-4">@Resources.getDescriptionBykey("Number of Hours")</label>
                <div class="col-md-6 col-sm-6">
                    <input type="number" id="noofhrs" min="0.5" max="8" />

                </div>
            </div>
        </form>
    </div>
</div>
<div class="x_panel">
    <div class="x_title">
        <h2>@Resources.getDescriptionBykey("Comments")</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <form class="form-horizontal form-label-left">

            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">
                   @Resources.getDescriptionBykey("Comment")  <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea id="comment" required="required" name="comment" class="form-control col-md-7 col-xs-12"></textarea>
                </div>
            </div>

            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">
                    @Resources.getDescriptionBykey("Attachment") <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="file" id="fileupload" accept="image/*" name="file" />

                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: "@Url.Action("getreasoncodes", "ExcuseRequest")",
            //  data: { selectedValue: selectedValue },
            dataType: "json",
            type: "GET",
            error: function () {
                alert(" An error occurred.");
            },
            success: function (data) {
                //  $("#reqnatutre")
                var optionhtml1 = '<option value="' + -1 + '">' + "--Select Reason--" + ' </option>';
                $("#ddlreason").append(optionhtml1);
                $.each(data, function (i) {
                    debugger;
                    $("#ddlreason").append($('<option>').text(data[i]).attr('value', data[i]));
                    //var optionhtml = '<option value="' + data[i + 1] + '">' + data[i + 1] + '</option>';
                    //$(".ddlreason").append(optionhtml);
                });
            }
        });
        $.ajax({
            url: "@Url.Action("getexecustypesforTraining", "ExcuseRequest")",
            //  data: { selectedValue: selectedValue },
            dataType: "json",
            type: "GET",
            error: function () {
                alert(" An error occurred.");
            },
            success: function (data) {
                //  $("#reqnatutre")
                var optionhtml1 = '<option value="' + -1 + '">' + "--Select Request--" + ' </option>';
                $("#ddlexcuseid").append(optionhtml1);
                $.each(data, function (i) {
                    debugger;
                    $("#ddlexcuseid").append($('<option>').text(data[i]).attr('value', data[i]));
                    //var optionhtml = '<option value="' + data[i + 1] + '">' + data[i + 1] + '</option>';
                    //$(".ddlreason").append(optionhtml);
                });
            }
        });
        var d = new Date();
        $('#fileupload').bind('change', function () {
            debugger;
            // var ext = fileName.split('.').pop();
            // alert(ext);
            var files = $("#fileupload")[0].files[0];
            var temp = "";
            temp += "<br>Filename: " + files.name;
            var ext = temp.split(".").pop();
            if (ext == "JPEG" || ext == "PNG" || ext == "Jpeg" || ext == "Png" || ext == "jpeg" || ext == "png") { }
            else
                alert("Only Jpeg and Png formats");

            //  alert('This file size is: ' + this.files[0].size / 1024 / 1024 + "MB");
        });
        $("#requestdate").val(d.getDate() + '/' + (d.getMonth() + 1) + '/' + d.getFullYear());
        $('#btnsubmit').click(function () {
            debugger;
            if ($('#ddlreason').val() != "-1" && $('#ddlexcuseid').val() != "-1") {

                $.ajax({
                    url: "@Url.Action("CreateExcuseRequestbyNature", "ExcuseRequest")",
                    type: 'GET',
                    data: {
                        reason: $('#ddlreason').val(), comment: $('#comment').val(),
                        execuseid: $('#ddlexcuseid').val(), excusenature: '3',
                        noofhrs: $('#noofhrs').val()
                    },
                    contentType: "application/json; charset=utf-8",


                    error: function () {
                        alert(" An error occurred.");
                    },
                    success: function (data1) {
                        alert(data1);
                       // alert(data1.split(' ')[1]);
                        if (data1.includes("submitted")) {
                            var url = "/ExcuseRequest/TrainingRequests";
                            window.location.href = url;
                        }
                    }

                });
            }

        });
    });
</script>


